@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";

.bg-diagnosis {
  background-image: url("/images/bg_image.png");
  background-size: cover;
  background-position: center center;
}


.result-image {
  background-image: url("/images/result_bg.png");
  background-size: cover;
  background-position: center center;
}